@media all and (max-width: 670px) {
    .tradingview-widget-container div div {
        height: 562px !important;
        width: 600px !important;
     }
     .tradingview-widget-container{
        float: left;
        width: 100%;
     }
  }
